.gpImgBorder {
    /* border: 1px solid red; */
    position: relative;
}

.gpOutline {
    border: 1px solid red;
}

.gpSaveButton {
    position: absolute;
    background-color: #3e4e5f;
    width: 36px;
    height: 36px;
    float: left;
    left: 0px;
    top: 0px;
    z-index: 1000;
    border: none;
    /*margin: 5px;*/
    border: 1px solid white;
}

.gpSaveButtonFixed {
    position: fixed;
    background-color: #3e4e5f;
    width: 36px;
    height: 36px;
    /* float: left; */
    left: 0px;
    top: 0px;
    z-index: 1000;
    border: none;
    /*margin: 5px;*/
    border: 1px solid white;
}

/* .gpImage {
border: 1px solid red;
height: auto;
margin: 0;
}
*/