.gpImgBorder {
    /* border: 1px solid red; */
    position: relative;
}

.gpOutline {
    border: 1px solid red;
}

.gpSaveButton {
    /* upper left position setting is float:none and position:fixed */
    position: absolute;
    background-color: transparent;
    width: 36px;
    height: 36px;
    float: left;
    left: 0px;
    top: 0px;
    z-index: 1000;
    border: none;
    /* border: 1px solid white; */
    border-radius: 10px
}

.gpButtonDown {
    background-color: greenyellow;
    border: 1px solid black;
}